<% title t(".title") %>

<%= javascript_include_jqgrid %>

<% if @users.size > 0 %>  <% form_tag admin_project_users_path do %>	  <%= select_tag(:user_id, options_from_collection_for_select(@users, "id", "full_name")) %>	  <%= submit_tag(t("actions.assign")) %>  <% end %>
  <br />
<% end %>

<%= jquery_custom_grid(
  add_roles_columns(
	  [
		  { :field => "name", :label => "name", :width => 300, :sortable => false },
		  { :field => "hours", :label => "hours", :width => 100, :sortable => false },
	  ], 900),
  {:edit => false, :view => false, :add => false}
) %>

<table id="list"></table>

<script type="text/javascript">

  $(function() {
    $('.set-role').live('click', function() {
      if (/(.+)_(\d+)/.test(this.name)) {
        $.ajax({
          url: '<%= set_role_admin_project_users_path %>',
          type: 'POST',
          data: {role: RegExp.$1, user_id: RegExp.$2, has_access: $(this).attr('checked')},
          dataType : 'json',
          success : function(data, status) {
            clearMessages();
            if (status == 'success') {
              showMessage(data.success, data.message);
            }
            else {
              showError('<%= escape_javascript(t("messages.some_errors")) %>');
            }
          }
        });
      }
    });
  });

  function roleFormatter(cellValue, options, rowObject) {
    inputName = options.colModel.index + "_" + options.rowId;
    input = '<input type="checkbox" class="set-role" name="' + inputName + '" id="' + inputName + '"';
    if (cellValue == 'Yes') {
      input += ' checked="checked"';
    }
    input += ' />';
    return input;
  }

</script>

