<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= t("application.admin_title") %> - <%= yield(:title)%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<%= stylesheet_link_merged :admin_screen, :media => "screen, projection" %>
	<%= stylesheet_link_merged :print, :media => "print" %>
	<!--[if lt IE 8]><%= stylesheet_link_merged :ie, :media => "screen, projection" %><![endif]-->
	<%= javascript_include_merged :base %>
	<%= javascript_include_merged :grid, {:params => {"locale" => I18n.locale}} %>
	<%= yield(:head) %>
</head>
<body>
	<div class="main-container">
		<h1><%= t("application.title") %></h1>
		<div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
			<%= main_menu(admin_menu_items) %>
			<div class="ui-tabs-panel ui-widget-content ui-corner-bottom container">
				<%= crumbs %>
				<%= render :partial => 'controls/messages' %>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>

